/*Import fonts to use*/
@font-face {
    font-family: 'vibe-bold';
    src: url('./iconos/fonts/SB-Vibe-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'vibe';
    src: url('./iconos/fonts/SB-Vibe-Regular.ttf');
}

@font-face {
    font-family: 'nunito';
    src: url('./iconos/fonts/Nunito-Regular.ttf');
}

.precarga {
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* VISTA DE MOVIL */

@media (max-width: 480px) {

    body {
        height: 100vh;
        width: 100vw;
        background-color: #131313;
        overflow: hidden;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: start;
        background-size: 100%;
        size-adjust: initial;
        background-repeat: no-repeat;
    }

    h1 {
        font-size: 30px;
    }

    h3 {
        color: white;
        pointer-events: none;
        font-family: 'nunito';
        margin-top: -15px;
    }

    .spinner-box {
        width: 60%;
        height: 60%;
        margin-top: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        background-color: transparent;
    }

    .solar-system {
        width: 90%;
        height: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .orbit {
        position: absolute;
        display: flex;
        height: 4px;
        justify-content: center;
        align-items: center;
        border-radius: 3px;
        border-radius: 50%;
    }

    .first-orbit {
        background-image: url('./iconos/orbit9.svg');
        background-repeat: no-repeat;
        background-size: 100%;
        width: 300px;
        height: 300px;
        animation: spin 80s linear 0s infinite;
    }

    .second-orbit {
        background-repeat: no-repeat;
        background-size: 100%;
        background-image: url('./iconos/orbit8.svg');
        justify-content: center;
        align-items: center;
        width: 270px;
        height: 270px;
        animation: spin 80s linear 0s infinite;
    }

    .third-orbit {
        background-repeat: no-repeat;
        background-size: 100%;
        background-image: url('./iconos/orbit7.svg');
        width: 240px;
        height: 240px;
        animation: spin 80s linear 0s infinite;
    }

    .fourth-orbit {
        background-image: url('./iconos/orbit6.svg');
        background-repeat: no-repeat;
        background-size: 100%;
        width: 210px;
        height: 210px;
        animation: spin 80s linear 0s infinite;
    }

    .fifth-orbit {
        background-image: url('./iconos/orbit5.svg');
        background-repeat: no-repeat;
        background-size: 100%;
        width: 180px;
        height: 180px;
        animation: spin 80s linear 0s infinite;
    }

    .sixth-orbit {
        background-image: url('./iconos/orbit4.svg');
        background-repeat: no-repeat;
        background-size: 100%;
        width: 150px;
        height: 150px;
        animation: spin 80s linear 0s infinite;
    }

    .seventh-orbit {
        background-image: url('./iconos/orbit3.svg');
        background-repeat: no-repeat;
        background-size: 100%;
        width: 120px;
        height: 120px;
        animation: spin 80s linear 0s infinite;
    }

    .eighth-orbit {
        background-image: url('./iconos/orbit2.svg');
        background-repeat: no-repeat;
        background-size: 100%;
        width: 90px;
        height: 90px;
        animation: spin 80s linear 0s infinite;
    }

    .nineth-orbit {
        background-image: url('./iconos/orbit1.svg');
        background-repeat: no-repeat;
        background-size: 100%;
        width: 60px;
        height: 60px;
        animation: spin 80s linear 0s infinite;
    }

    /*Planets of system*/
    .planet {
        cursor: pointer;
        position: absolute;
        top: -10px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        animation: spin 20s linear 0s infinite reverse;
        background: linear-gradient(rgba(68, 0, 143, 1), rgba(215, 82, 217, 1))
    }

    .div-a {
        display: flex;
        justify-content: center;
    }

    .div-b {
        display: inherit;
        justify-content: end;
    }

    /*Image for net under solar system*/
    .img-a {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        /* pointer-events: none; */
    }

    /*Image astronaut*/
    .img-b {
        pointer-events: none;
        filter: drop-shadow(5px 5px 50px rgb(215, 82, 217));
        animation: float 5s infinite;
    }

    /*Div planet center solar system*/
    .planet-center {
        border-color: black;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        background-image: url('./iconos/back.jpg');
        background-size: 100px 100px;
        background-repeat: no-repeat;
        box-shadow: 2px 2px 80px 20px white;
    }

    /*Animation for spin orbits*/
    @keyframes spin {
        from {
            transform: rotate(0);
        }

        to {
            transform: rotate(359deg);
        }
    }

    /* The Modal (background) */
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.544);
        align-items: center;
        align-content: center;
    }

    /* Modal Content/Box */
    .modal-content {
        width: 90%;
        height: 90%;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
    }

    /*Body of services modal*/
    .modal-center {
        background: linear-gradient(10deg, black, black) padding-box, linear-gradient(240deg, #DBFF00, rgba(68, 0, 143, 1)) border-box;
        border-radius: 10px;
        border: 2px solid transparent;
        /* margin:2%; */
        /* margin-top: 10%; */
        padding: 20px;
        width: 90%;
        /* height: 90%; */
    }

    /*First paraph of services modal*/
    .modal-first-paraph {
        margin: auto;
        width: 90%;
        height: 20%;
        display: flex;
        align-items: center;
    }

    /*Div for details of service*/
    .features {
        margin: auto;
        width: 90%;
        display: flex;
        margin-top: -10px;
    }

    /* The Close Button */
    .closeButton {
        width: 20px;
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    /*line break*/
    hr {
        height: 8px;
        background-image: linear-gradient(90deg, #EAF02D, #935876);
        border: 0;
        height: 1px;
    }

    /*Animation to stars*/
    @keyframes travel {
        0% {
            left: -100%;
        }

        100% {
            left: 0%;
        }
    }

    /*Div to background stars*/
    .star-field {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        perspective: 300px;
        -webkit-perspective: 300px;
        z-index: -1;
    }

    .star {
        position: absolute;
        width: 100vw;
        height: 100%;
        top: 0;
        z-index: -999;
        animation: travel 3s linear infinite;
        will-change: left;
    }

    .star-field .layer {
        box-shadow: -411px -476px #cccccc, 777px -407px #d4d4d4, -387px -477px #fcfcfc, -91px -235px #d4d4d4, 491px -460px #f7f7f7, 892px -128px #f7f7f7, 758px -277px #ededed, 596px 378px #cccccc, 647px 423px whitesmoke, 183px 389px #c7c7c7,
            524px -237px #f0f0f0, 679px -535px #e3e3e3, 158px 399px #ededed, 157px 249px #ededed, 81px -450px #ebebeb, 719px -360px #c2c2c2, -499px 473px #e8e8e8, -158px -349px #d4d4d4, 870px -134px #cfcfcf, 446px 404px #c2c2c2,
            440px 490px #d4d4d4, 414px 507px #e6e6e6, -12px 246px #fcfcfc, -384px 369px #e3e3e3, 641px -413px #fcfcfc, 822px 516px #dbdbdb, 449px 132px #c2c2c2, 727px 146px #f7f7f7, -315px -488px #e6e6e6, 952px -70px #e3e3e3,
            -869px -29px #dbdbdb, 502px 80px #dedede, 764px 342px #e0e0e0, -150px -380px #dbdbdb, 654px -426px #e3e3e3, -325px -263px #c2c2c2, 755px -447px #c7c7c7, 729px -177px #c2c2c2, -682px -391px #e6e6e6, 554px -176px #ededed,
            -85px -428px #d9d9d9, 714px 55px #e8e8e8, 359px -285px #cfcfcf, -362px -508px #dedede, 468px -265px #fcfcfc, 74px -500px #c7c7c7, -514px 383px #dbdbdb, 730px -92px #cfcfcf, -112px 287px #c9c9c9, -853px 79px #d6d6d6,
            828px 475px #d6d6d6, -681px 13px #fafafa, -176px 209px #f0f0f0, 758px 457px #fafafa, -383px -454px #ededed, 813px 179px #d1d1d1, 608px 98px whitesmoke, -860px -65px #c4c4c4, -572px 272px #f7f7f7, 459px 533px #fcfcfc,
            624px -481px #e6e6e6, 790px 477px #dedede, 731px -403px #ededed, 70px -534px #cccccc, -23px 510px #cfcfcf, -652px -237px whitesmoke, -690px 367px #d1d1d1, 810px 536px #d1d1d1, 774px 293px #c9c9c9, -362px 97px #c2c2c2,
            563px 47px #dedede, 313px 475px #e0e0e0, 839px -491px #e3e3e3, -217px 377px #d4d4d4, -581px 239px #c2c2c2, -857px 72px #cccccc, -23px 340px #dedede, -837px 246px white, 170px -502px #cfcfcf, 822px -443px #e0e0e0, 795px 497px #e0e0e0,
            -814px -337px #cfcfcf, 206px -339px #f2f2f2, -779px 108px #e6e6e6, 808px 2px #d4d4d4, 665px 41px #d4d4d4, -564px 64px #cccccc, -380px 74px #cfcfcf, -369px -60px #f7f7f7, 47px -495px #e3e3e3, -383px 368px #f7f7f7, 419px 288px #d1d1d1,
            -598px -50px #c2c2c2, -833px 187px #c4c4c4, 378px 325px whitesmoke, -703px 375px #d6d6d6, 392px 520px #d9d9d9, -492px -60px #c4c4c4, 759px 288px #ebebeb, 98px -412px #c4c4c4, -911px -277px #c9c9c9;
        transform-style: preserve-3d;
        position: absolute;
        top: 50%;
        left: 50%;
        height: 4px;
        width: 4px;
        border-radius: 2px;
    }

    .star-field .layer:nth-child(1) {
        animation: sf-fly-by-1 20s linear infinite;
    }

    .star-field .layer:nth-child(2) {
        animation: sf-fly-by-2 30s linear infinite;
    }

    .star-field .layer:nth-child(3) {
        animation: sf-fly-by-3 45s linear infinite;
    }

    @keyframes sf-fly-by-1 {
        from {
            transform: translateZ(-600px);
            opacity: 0.5;
        }

        to {
            transform: translateZ(0);
            opacity: 0.5;
        }
    }

    @keyframes sf-fly-by-2 {
        from {
            transform: translateZ(-1200px);
            opacity: 0.5;
        }

        to {
            transform: translateZ(-600px);
            opacity: 0.5;
        }
    }

    @keyframes sf-fly-by-3 {
        from {
            transform: translateZ(-1800px);
            opacity: 0.5;
        }

        to {
            transform: translateZ(-1200px);
            opacity: 0.5;
        }
    }

    @keyframes float {
        0% {
            transform: translatey(0px);
        }

        50% {
            transform: translatey(-30px);
        }

        100% {
            transform: translatey(0px);
        }
    }

    /*Button Comenzar under title*/
    .button-start {
        font-family: nunito;
        cursor: pointer;
        width: 170px;
        height: 40px;
        border-radius: 50px;
        color: black;
        font-size: 15px;
        border-color: black;
        background-size: 170px 40px;
        background-repeat: no-repeat;
        background-image: url('./iconos/back.jpg');
    }

    /*Button Contratar of services*/
    .button-contratar {
        cursor: pointer;
        width: 170px;
        height: 40px;
        border-radius: 50px;
        color: black;
        font-size: 15px;
        border-color: black;
        background-size: 170px 40px;
        background-repeat: no-repeat;
        font-family: nunito;
        background: #D752D9;
    }

    .title {
        z-index: 2;
        width: 80%;
        margin-top:
            -200%;
        margin-right: 30%;
        margin-left: 5%;
    }

    .overTitle {
        width: 30%;
    }

    .astronaut {
        width: 70%;
    }

    .net {
        margin-top: 75vh;
        width: 100%;
    }

    h3 {
        color: white;
        pointer-events: none;
        font-family: 'nunito';
        margin-top: -15px;
    }

    h2 {
        color: white;
        font-size: 15px;
        font-family: 'vibe';
        pointer-events: none;
        margin-top: -1px;
    }

    h1 {
        color: white;
        font-family: 'nunito';
        pointer-events: none;
        margin-top: -10px;
        font-size: 30px;
    }

    /* .astronaut-div {
        margin-top: -30%;
        margin-right: 10%;
        width: 100%;
    } */

    .subtitle-modal {
        color: #C6FF00;
        font-weight: bold;
        font-size: 12px;
        margin-left: 5%;
        font-family: 'nunito';
        text-align: left;
    }

    .description-modal {
        color: #C6FF00;
        font-size: 10px;
        margin-left: 10%;
        font-family: 'nunito';
        text-align: left;
    }

    .desliza {
        visibility: hidden;
        width: 0%;
        color: white;
        margin-top: -8%;
        font-family: 'nunito';
        text-align: end;
        margin-left: 70%;
    }

    .asterisk {
        width: 10px
    }

    .title-modal {
        color: #D752D9;
        font-size: 12px;
        font-family: 'vibe-bold';
        margin-top: 1%;
    }

    .features-item {
        color: white;
        font-size: 8px;
        margin-left: 5%;
        font-family: 'nunito';
    }

    .back-arrow {
        width: 10%;
    }

    .next-arrow {
        width: 15%;
    }

}























/* VISTA DE TABLET */
@media (min-width: 481px) and (max-width: 960px) {
    body {
        height: 100vh;
        width: 100vw;
        background-color: #131313;
        overflow: hidden;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: start;
        background-size: 100%;
        size-adjust: initial;
        background-repeat: no-repeat;
    }

    h2 {
        color: white;
        font-size: 15px;
        font-family: 'vibe';
        pointer-events: none;
        margin-top: -1px;
    }

    h1 {
        color: white;
        font-family: 'nunito';
        pointer-events: none;
        margin-top: -10px;
        font-size: 30px;
    }

    h3 {
        color: white;
        pointer-events: none;
        font-family: 'nunito';
        margin-top: -15px;
    }

    .back-arrow {
        width: 5%;
    }

    .next-arrow {
        width: 5%;
    }

    .spinner-box {
        width: 60%;
        height: 60%;
        margin-top: 45%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        background-color: transparent;
    }

    .solar-system {
        width: 90%;
        height: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .orbit {
        position: absolute;
        display: flex;
        height: 4px;
        justify-content: center;
        align-items: center;
        border-radius: 3px;
        border-radius: 50%;
    }

    .first-orbit {
        background-image: url('./iconos/orbit9.svg');
        background-repeat: no-repeat;
        background-size: 100%;
        width: 350px;
        height: 350px;
        animation: spin 80s linear 0s infinite;
    }

    .second-orbit {
        background-repeat: no-repeat;
        background-size: 100%;
        background-image: url('./iconos/orbit8.svg');
        justify-content: center;
        align-items: center;
        width: 320px;
        height: 320px;
        animation: spin 80s linear 0s infinite;
    }

    .third-orbit {
        background-repeat: no-repeat;
        background-size: 100%;
        background-image: url('./iconos/orbit7.svg');
        width: 290px;
        height: 290px;
        animation: spin 80s linear 0s infinite;
    }

    .fourth-orbit {
        background-image: url('./iconos/orbit6.svg');
        background-repeat: no-repeat;
        background-size: 100%;
        width: 260px;
        height: 260px;
        animation: spin 80s linear 0s infinite;
    }

    .fifth-orbit {
        background-image: url('./iconos/orbit5.svg');
        background-repeat: no-repeat;
        background-size: 100%;
        width: 230px;
        height: 230px;
        animation: spin 80s linear 0s infinite;
    }

    .sixth-orbit {
        background-image: url('./iconos/orbit4.svg');
        background-repeat: no-repeat;
        background-size: 100%;
        width: 200px;
        height: 200px;
        animation: spin 80s linear 0s infinite;
    }

    .seventh-orbit {
        background-image: url('./iconos/orbit3.svg');
        background-repeat: no-repeat;
        background-size: 100%;
        width: 170px;
        height: 170px;
        animation: spin 80s linear 0s infinite;
    }

    .eighth-orbit {
        background-image: url('./iconos/orbit2.svg');
        background-repeat: no-repeat;
        background-size: 100%;
        width: 140px;
        height: 140px;
        animation: spin 80s linear 0s infinite;
    }

    .nineth-orbit {
        background-image: url('./iconos/orbit1.svg');
        background-repeat: no-repeat;
        background-size: 100%;
        width: 110px;
        height: 110px;
        animation: spin 80s linear 0s infinite;
    }

    /*Planets of system*/
    .planet {
        cursor: pointer;
        position: absolute;
        top: -10px;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        animation: spin 20s linear 0s infinite reverse;
        background: linear-gradient(rgba(68, 0, 143, 1), rgba(215, 82, 217, 1))
    }

    .div-a {
        display: flex;
        justify-content: center;
    }

    .div-b {
        display: inherit;
        justify-content: end;
    }

    /*Image for net under solar system*/
    .img-a {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        /* pointer-events: none; */
    }

    /*Image astronaut*/
    .img-b {
        pointer-events: none;
        filter: drop-shadow(5px 5px 50px rgb(215, 82, 217));
        animation: float 5s infinite;
    }

    /*Div planet center solar system*/
    .planet-center {
        border-color: black;
        width: 60px;
        height: 60px;
        border-radius: 100%;
        background-image: url('./iconos/back.jpg');
        background-size: 100px 100px;
        background-repeat: no-repeat;
        box-shadow: 2px 2px 80px 20px white;
    }

    /*Animation for spin orbits*/
    @keyframes spin {
        from {
            transform: rotate(0);
        }

        to {
            transform: rotate(359deg);
        }
    }

    /* The Modal (background) */
    .modal {
        display: none;
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.544);
        align-items: center;
        align-content: center;
    }

    /* Modal Content/Box */
    .modal-content {
        width: 90%;
        height: 90%;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        margin: 5% auto;
        margin-left: 5% !important;
        margin-top: 5% !important;

    }

    /*Body of services modal*/
    .modal-center {
        background: linear-gradient(10deg, black, black) padding-box, linear-gradient(240deg, #DBFF00, rgba(68, 0, 143, 1)) border-box;
        border-radius: 10px;
        border: 2px solid transparent;
        /* margin:2%; */
        /* margin-top: 10%; */
        padding: 20px;
        width: 60%;
        /* height: 90%; */
    }

    /*First paraph of services modal*/
    .modal-first-paraph {
        margin: auto;
        width: 90%;
        height: 20%;
        display: flex;
        align-items: center;
    }

    /*Div for details of service*/
    .features {
        margin: auto;
        width: 90%;
        display: flex;
        margin-top: -10px;
    }

    /* The Close Button */
    .closeButton {
        width: 20px;
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    /*line break*/
    hr {
        height: 8px;
        background-image: linear-gradient(90deg, #EAF02D, #935876);
        border: 0;
        height: 1px;
    }

    /*Animation to stars*/
    @keyframes travel {
        0% {
            left: -100%;
        }

        100% {
            left: 0%;
        }
    }

    /*Div to background stars*/
    .star-field {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        perspective: 300px;
        -webkit-perspective: 300px;
        z-index: -1;
    }

    .star {
        position: absolute;
        width: 100vw;
        height: 100%;
        top: 0;
        z-index: -999;
        animation: travel 3s linear infinite;
        will-change: left;
    }

    .star-field .layer {
        box-shadow: -411px -476px #cccccc, 777px -407px #d4d4d4, -387px -477px #fcfcfc, -91px -235px #d4d4d4, 491px -460px #f7f7f7, 892px -128px #f7f7f7, 758px -277px #ededed, 596px 378px #cccccc, 647px 423px whitesmoke, 183px 389px #c7c7c7,
            524px -237px #f0f0f0, 679px -535px #e3e3e3, 158px 399px #ededed, 157px 249px #ededed, 81px -450px #ebebeb, 719px -360px #c2c2c2, -499px 473px #e8e8e8, -158px -349px #d4d4d4, 870px -134px #cfcfcf, 446px 404px #c2c2c2,
            440px 490px #d4d4d4, 414px 507px #e6e6e6, -12px 246px #fcfcfc, -384px 369px #e3e3e3, 641px -413px #fcfcfc, 822px 516px #dbdbdb, 449px 132px #c2c2c2, 727px 146px #f7f7f7, -315px -488px #e6e6e6, 952px -70px #e3e3e3,
            -869px -29px #dbdbdb, 502px 80px #dedede, 764px 342px #e0e0e0, -150px -380px #dbdbdb, 654px -426px #e3e3e3, -325px -263px #c2c2c2, 755px -447px #c7c7c7, 729px -177px #c2c2c2, -682px -391px #e6e6e6, 554px -176px #ededed,
            -85px -428px #d9d9d9, 714px 55px #e8e8e8, 359px -285px #cfcfcf, -362px -508px #dedede, 468px -265px #fcfcfc, 74px -500px #c7c7c7, -514px 383px #dbdbdb, 730px -92px #cfcfcf, -112px 287px #c9c9c9, -853px 79px #d6d6d6,
            828px 475px #d6d6d6, -681px 13px #fafafa, -176px 209px #f0f0f0, 758px 457px #fafafa, -383px -454px #ededed, 813px 179px #d1d1d1, 608px 98px whitesmoke, -860px -65px #c4c4c4, -572px 272px #f7f7f7, 459px 533px #fcfcfc,
            624px -481px #e6e6e6, 790px 477px #dedede, 731px -403px #ededed, 70px -534px #cccccc, -23px 510px #cfcfcf, -652px -237px whitesmoke, -690px 367px #d1d1d1, 810px 536px #d1d1d1, 774px 293px #c9c9c9, -362px 97px #c2c2c2,
            563px 47px #dedede, 313px 475px #e0e0e0, 839px -491px #e3e3e3, -217px 377px #d4d4d4, -581px 239px #c2c2c2, -857px 72px #cccccc, -23px 340px #dedede, -837px 246px white, 170px -502px #cfcfcf, 822px -443px #e0e0e0, 795px 497px #e0e0e0,
            -814px -337px #cfcfcf, 206px -339px #f2f2f2, -779px 108px #e6e6e6, 808px 2px #d4d4d4, 665px 41px #d4d4d4, -564px 64px #cccccc, -380px 74px #cfcfcf, -369px -60px #f7f7f7, 47px -495px #e3e3e3, -383px 368px #f7f7f7, 419px 288px #d1d1d1,
            -598px -50px #c2c2c2, -833px 187px #c4c4c4, 378px 325px whitesmoke, -703px 375px #d6d6d6, 392px 520px #d9d9d9, -492px -60px #c4c4c4, 759px 288px #ebebeb, 98px -412px #c4c4c4, -911px -277px #c9c9c9;
        transform-style: preserve-3d;
        position: absolute;
        top: 50%;
        left: 50%;
        height: 4px;
        width: 4px;
        border-radius: 2px;
    }

    .star-field .layer:nth-child(1) {
        animation: sf-fly-by-1 20s linear infinite;
    }

    .star-field .layer:nth-child(2) {
        animation: sf-fly-by-2 30s linear infinite;
    }

    .star-field .layer:nth-child(3) {
        animation: sf-fly-by-3 45s linear infinite;
    }

    @keyframes sf-fly-by-1 {
        from {
            transform: translateZ(-600px);
            opacity: 0.5;
        }

        to {
            transform: translateZ(0);
            opacity: 0.5;
        }
    }

    @keyframes sf-fly-by-2 {
        from {
            transform: translateZ(-1200px);
            opacity: 0.5;
        }

        to {
            transform: translateZ(-600px);
            opacity: 0.5;
        }
    }

    @keyframes sf-fly-by-3 {
        from {
            transform: translateZ(-1800px);
            opacity: 0.5;
        }

        to {
            transform: translateZ(-1200px);
            opacity: 0.5;
        }
    }

    @keyframes float {
        0% {
            transform: translatey(0px);
        }

        50% {
            transform: translatey(-30px);
        }

        100% {
            transform: translatey(0px);
        }
    }

    /*Button Comenzar under title*/
    .button-start {
        font-family: nunito;
        cursor: pointer;
        width: 170px;
        height: 40px;
        border-radius: 50px;
        color: black;
        font-size: 15px;
        border-color: black;
        background-size: 170px 40px;
        background-repeat: no-repeat;
        background-image: url('./iconos/back.jpg');
    }

    /*Button Contratar of services*/
    .button-contratar {
        cursor: pointer;
        width: 170px;
        height: 40px;
        border-radius: 50px;
        color: black;
        font-size: 15px;
        border-color: black;
        background-size: 170px 40px;
        background-repeat: no-repeat;
        font-family: nunito;
        background: #D752D9;
    }

    .back-arrow {
        width: 10%;
    }

    .next-arrow {
        width: 15%;
    }

    .title {
        width: 80%;
        margin-top:
            -110%;
        margin-right: 30%;
        margin-left: 5%;
    }

    .overTitle {
        width: "30%"
    }

    .astronaut {
        width: 40%;
    }

    .net {
        margin-top: 80vh;
        width: 100%;
    }


    .subtitle-modal {
        color: #C6FF00;
        font-weight: bold;
        font-size: 14px;
        margin-left: 5%;
        font-family: 'nunito';
        text-align: left;
    }

    .description-modal {
        color: #C6FF00;
        font-size: 13px;
        margin-left: 10%;
        font-family: 'nunito';
        text-align: left;
    }

    .desliza {
        visibility: hidden;
        width: 0%;
        color: white;
        margin-top: -8%;
        font-family: 'nunito';
        text-align: end;
        margin-left: 70%;
    }

    .asterisk {
        width: 15px;
    }

    .title-modal {
        color: #D752D9;
        font-size: 14px;
        font-family: 'vibe-bold';
        margin-top: 1%;
    }

    .features-item {
        color: white;
        font-size: 12px;
        margin-left: 5%;
        font-family: 'nunito';
    }
}

























/*VISTA PC LOW RES*/
@media (min-width: 1000px) {

    body {
        height: 100vh;
        width: 100vw;
        background-color: #131313;
        overflow: hidden;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        background-size: 100%;
        size-adjust: initial;
        background-repeat: no-repeat;
    }

    .spinner-box {
        width: 50%;
        height: 50%;
        margin-top: -10%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        background-color: transparent;
    }

    .solar-system {
        width: 80%;
        height: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .orbit {
        position: absolute;
        display: flex;
        height: 4px;
        justify-content: center;
        align-items: center;
        border-radius: 3px;
        border-radius: 50%;
    }

    /*Orbits of system with each image background*/
    .first-orbit {
        background-repeat: no-repeat;
        background-size: 100%;
        background-image: url('./iconos/orbit9.svg');
        width: 600px;
        height: 600px;
        animation: spin 80s linear 0s infinite;
    }

    .second-orbit {
        background-repeat: no-repeat;
        background-size: 100%;
        background-image: url('./iconos/orbit8.svg');
        justify-content: center;
        align-items: center;
        width: 550px;
        height: 550px;
        animation: spin 80s linear 0s infinite;
    }

    .third-orbit {
        background-repeat: no-repeat;
        background-size: 100%;
        background-image: url('./iconos/orbit7.svg');
        width: 500px;
        height: 500px;
        animation: spin 80s linear 0s infinite;
    }

    .fourth-orbit {
        background-image: url('./iconos/orbit6.svg');
        background-repeat: no-repeat;
        background-size: 100%;
        width: 450px;
        height: 450px;
        animation: spin 80s linear 0s infinite;
    }

    .fifth-orbit {
        background-image: url('./iconos/orbit5.svg');
        background-repeat: no-repeat;
        background-size: 100%;
        width: 400px;
        height: 400px;
        animation: spin 80s linear 0s infinite;
    }

    .sixth-orbit {
        background-image: url('./iconos/orbit4.svg');
        background-repeat: no-repeat;
        background-size: 100%;
        width: 350px;
        height: 350px;
        animation: spin 80s linear 0s infinite;
    }

    .seventh-orbit {
        background-image: url('./iconos/orbit3.svg');
        background-repeat: no-repeat;
        background-size: 100%;
        width: 300px;
        height: 300px;
        animation: spin 80s linear 0s infinite;
    }

    .eighth-orbit {
        background-image: url('./iconos/orbit2.svg');
        background-repeat: no-repeat;
        background-size: 100%;
        width: 250px;
        height: 250px;
        animation: spin 80s linear 0s infinite;
    }

    .nineth-orbit {
        background-image: url('./iconos/orbit1.svg');
        background-repeat: no-repeat;
        background-size: 100%;
        width: 200px;
        height: 200px;
        animation: spin 80s linear 0s infinite;
    }

    /*Planets of system*/
    .planet {
        cursor: pointer;
        position: absolute;
        top: -20px;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        animation: spin 20s linear 0s infinite reverse;
        background: linear-gradient(rgba(68, 0, 143, 1), rgba(215, 82, 217, 1))
    }

    .div-a {
        display: flex;
        justify-content: center;
    }

    .div-b {
        display: inherit;
        justify-content: end;
    }

    /*Image for net under solar system*/
    .img-a {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        /* pointer-events: none; */
    }

    /*Image astronaut*/
    .img-b {
        pointer-events: none;
        filter: drop-shadow(5px 5px 80px rgb(215, 82, 217));
        animation: float 5s infinite;
    }

    /*Div planet center solar system*/
    .planet-center {
        border-color: black;
        width: 100px;
        height: 100px;
        border-radius: 100%;
        background-image: url('./iconos/back.jpg');
        background-size: 100px 100px;
        background-repeat: no-repeat;
        box-shadow: 2px 2px 80px 20px white;
    }

    /*Animation for spin orbits*/
    @keyframes spin {
        from {
            transform: rotate(0);
        }

        to {
            transform: rotate(359deg);
        }
    }

    /* The Modal (background) */
    .modal {
        display: none;
        position: fixed;
        z-index: 9;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.544);
        align-self: center;
        justify-content: center;
        justify-self: center;
        justify-items: center;
    }

    /* Modal Content/Box */
    .modal-content {
        width: 40%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 30% !important;
        margin-top: -2% !important;
    }

    /*Body of services modal*/
    .modal-center {
        background: linear-gradient(10deg, black, black) padding-box, linear-gradient(240deg, #DBFF00, rgba(68, 0, 143, 1)) border-box;
        border-radius: 10px;
        border: 2px solid transparent;
        margin: 10% auto;
        padding: 20px;
        width: 80%;
        /* height: 90%; */
    }

    /*First paraph of services modal*/
    .modal-first-paraph {
        margin: auto;
        width: 90%;
        height: 20%;
        display: flex;
        align-items: center;
    }

    /*Div for details of service*/
    .features {
        margin: auto;
        width: 90%;
        display: flex;
        margin-top: -10px;
    }

    /* The Close Button */
    .closeButton {
        background-image: url('./iconos/close.svg');
        width: 20px;
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .desliza {
        width: 15%;
        color: white;
        margin-top: -8%;
        font-family: 'nunito';
        text-align: end;
        margin-left: 80%;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    /*line break*/
    hr {
        height: 8px;
        background-image: linear-gradient(90deg, #EAF02D, #935876);
        border: 0;
        height: 1px;
    }

    /*Animation to stars*/
    @keyframes travel {
        0% {
            left: -100%;
        }

        100% {
            left: 0%;
        }
    }

    /*Div to background stars*/
    .star-field {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        perspective: 300px;
        -webkit-perspective: 300px;
        z-index: -1;
    }

    .star {
        position: absolute;
        width: 100vw;
        height: 100%;
        top: 0;
        z-index: -999;
        animation: travel 3s linear infinite;
        will-change: left;
    }

    .star-field .layer {
        box-shadow: -411px -476px #cccccc, 777px -407px #d4d4d4, -387px -477px #fcfcfc, -91px -235px #d4d4d4, 491px -460px #f7f7f7, 892px -128px #f7f7f7, 758px -277px #ededed, 596px 378px #cccccc, 647px 423px whitesmoke, 183px 389px #c7c7c7,
            524px -237px #f0f0f0, 679px -535px #e3e3e3, 158px 399px #ededed, 157px 249px #ededed, 81px -450px #ebebeb, 719px -360px #c2c2c2, -499px 473px #e8e8e8, -158px -349px #d4d4d4, 870px -134px #cfcfcf, 446px 404px #c2c2c2,
            440px 490px #d4d4d4, 414px 507px #e6e6e6, -12px 246px #fcfcfc, -384px 369px #e3e3e3, 641px -413px #fcfcfc, 822px 516px #dbdbdb, 449px 132px #c2c2c2, 727px 146px #f7f7f7, -315px -488px #e6e6e6, 952px -70px #e3e3e3,
            -869px -29px #dbdbdb, 502px 80px #dedede, 764px 342px #e0e0e0, -150px -380px #dbdbdb, 654px -426px #e3e3e3, -325px -263px #c2c2c2, 755px -447px #c7c7c7, 729px -177px #c2c2c2, -682px -391px #e6e6e6, 554px -176px #ededed,
            -85px -428px #d9d9d9, 714px 55px #e8e8e8, 359px -285px #cfcfcf, -362px -508px #dedede, 468px -265px #fcfcfc, 74px -500px #c7c7c7, -514px 383px #dbdbdb, 730px -92px #cfcfcf, -112px 287px #c9c9c9, -853px 79px #d6d6d6,
            828px 475px #d6d6d6, -681px 13px #fafafa, -176px 209px #f0f0f0, 758px 457px #fafafa, -383px -454px #ededed, 813px 179px #d1d1d1, 608px 98px whitesmoke, -860px -65px #c4c4c4, -572px 272px #f7f7f7, 459px 533px #fcfcfc,
            624px -481px #e6e6e6, 790px 477px #dedede, 731px -403px #ededed, 70px -534px #cccccc, -23px 510px #cfcfcf, -652px -237px whitesmoke, -690px 367px #d1d1d1, 810px 536px #d1d1d1, 774px 293px #c9c9c9, -362px 97px #c2c2c2,
            563px 47px #dedede, 313px 475px #e0e0e0, 839px -491px #e3e3e3, -217px 377px #d4d4d4, -581px 239px #c2c2c2, -857px 72px #cccccc, -23px 340px #dedede, -837px 246px white, 170px -502px #cfcfcf, 822px -443px #e0e0e0, 795px 497px #e0e0e0,
            -814px -337px #cfcfcf, 206px -339px #f2f2f2, -779px 108px #e6e6e6, 808px 2px #d4d4d4, 665px 41px #d4d4d4, -564px 64px #cccccc, -380px 74px #cfcfcf, -369px -60px #f7f7f7, 47px -495px #e3e3e3, -383px 368px #f7f7f7, 419px 288px #d1d1d1,
            -598px -50px #c2c2c2, -833px 187px #c4c4c4, 378px 325px whitesmoke, -703px 375px #d6d6d6, 392px 520px #d9d9d9, -492px -60px #c4c4c4, 759px 288px #ebebeb, 98px -412px #c4c4c4, -911px -277px #c9c9c9;
        transform-style: preserve-3d;
        position: absolute;
        top: 50%;
        left: 50%;
        height: 4px;
        width: 4px;
        border-radius: 2px;
    }

    .star-field .layer:nth-child(1) {
        animation: sf-fly-by-1 20s linear infinite;
    }

    .star-field .layer:nth-child(2) {
        animation: sf-fly-by-2 30s linear infinite;
    }

    .star-field .layer:nth-child(3) {
        animation: sf-fly-by-3 45s linear infinite;
    }

    @keyframes sf-fly-by-1 {
        from {
            transform: translateZ(-600px);
            opacity: 0.5;
        }

        to {
            transform: translateZ(0);
            opacity: 0.5;
        }
    }

    @keyframes sf-fly-by-2 {
        from {
            transform: translateZ(-1200px);
            opacity: 0.5;
        }

        to {
            transform: translateZ(-600px);
            opacity: 0.5;
        }
    }

    @keyframes sf-fly-by-3 {
        from {
            transform: translateZ(-1800px);
            opacity: 0.5;
        }

        to {
            transform: translateZ(-1200px);
            opacity: 0.5;
        }
    }

    @keyframes float {
        0% {
            transform: translatey(0px);
        }

        50% {
            transform: translatey(-30px);
        }

        100% {
            transform: translatey(0px);
        }
    }

    /*Button Comenzar under title*/
    .button-start {
        font-family: nunito;
        cursor: pointer;
        width: 170px;
        height: 40px;
        border-radius: 50px;
        color: black;
        font-size: 15px;
        border-color: black;
        background-size: 170px 40px;
        background-repeat: no-repeat;
        background-image: url('./iconos/back.jpg');
    }

    .back-arrow {
        width: 10%;
    }

    .next-arrow {
        width: 15%;
    }

    /*Button Contratar of services*/
    .button-contratar {
        cursor: pointer;
        width: 170px;
        height: 40px;
        border-radius: 50px;
        color: black;
        font-size: 15px;
        border-color: black;
        background-size: 170px 40px;
        background-repeat: no-repeat;
        background: #D752D9;
    }

    .title {
        /* z-index: 1; */
        width: 30%;
        margin-top:
            -70%;
        margin-right: 50%;
    }

    .overTitle {
        width: 30%
    }

    .astronaut {
        width: 25%;
    }

    .net {
        margin-top: 55vh;
        width: 100%;
    }

    h3 {
        color: white;
        pointer-events: none;
        font-family: 'nunito';
        margin-top: -15px;
    }

    h2 {
        color: white;
        font-size: 20px;
        font-family: 'vibe';
        pointer-events: none;
        margin-top: -1px;
    }

    h1 {
        color: white;
        font-family: 'nunito';
        pointer-events: none;
        margin-top: -10px;
        font-size: 40px;
    }

    .subtitle-modal {
        color: #C6FF00;
        font-weight: bold;
        font-size: 14px;
        margin-left: 5%;
        font-family: 'nunito';
        text-align: left;
    }

    .description-modal {
        color: #C6FF00;
        font-size: 15px;
        margin-left: 10%;
        font-family: 'nunito';
        text-align: left;
    }

    .asterisk {
        width: 25px;
    }

    .title-modal {
        color: #D752D9;
        font-size: 20px;
        font-family: 'vibe-bold';
        margin-top: 1%;
    }

    .features-item {
        color: white;
        font-size: 15px;
        margin-left: 5%;
        font-family: 'nunito';
    }
}








@media (min-width: 1026px) and (max-width: 1280px) {}